body{
    background-image: url(../img/curve-industry-photography-vintage-65128.jpg);
    background-size: cover;
    opacity: 0.9;
}

h1{
    color: black;
    margin-top: 25px;

}

.first{
    
    padding: 45px;
}

.pelis{

    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 25px;
    width: 40%;
    height: 200px;
}

button {
    width: 200px;
    margin-top: 25px;
}
