body{
    background-image: url(../img/fight-club-mainer-main.jpg);
    background-size: cover;
    opacity: 0.9;
}

h1{
    color: aliceblue;
    padding: 25px;
}

.pelis{

    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 25px;
    width: 40%;
    height: 200px;
}

button {
    width: 200px;
    margin-top: 25px;
}
