body{
    background-image: url(../img/fight-club-mainer-main.jpg);
    background-size: cover;
    opacity: 0.9;
}

h1{
    color: aliceblue;
    padding: 25px;
}

.pelis{
    padding-left: 25px;
}

